.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-card {
    display: flex;
    width: 640px;
    background-color: white;
    margin-top: 20px;
}

.inline {
    display: inline-block;
}

.author-name {
    color: grey;
    font-size: 12px;
    margin: 0px 0px 0px 10px;
}

.subreddit-name {
    font-weight: bold;  
    font-size: 14px;
    margin: 0px 0px 0px 6px;

}

.card-top {
    margin: 6px 0px 6px 0px;
}

.sidebar-card {
    width: 40px;
    background-color: rgb(246, 247, 249);
    text-align: center;
}

.card-content {
    width: 600px;
}

.card-image {
    max-width: 100%;
    margin: 0px auto 0px auto;
}

.card-thumbnail {
    width: 144px;
    float: right;
    border-radius: 5px;
    margin: 0px 8px 0px 0px;
}

.join-btn {
    color: white;
    background-color: #0a62c8;
    border: none;
    float: right;
    font-size: 12px;
    border-radius: 12px;
    width: 45px;
    height: 24px;
    margin: 0px 6px 0px 0px;
    font-weight: bold;
}

.post-title {
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}

.post-link {
    margin: 0px 10px 10px 10px;
    font-size: 11px;
}

.subreddit-image {
    width: 20px;
    margin: 0px 0px 0px 10px;
    vertical-align: text-bottom;
}

.post-score {
    font-size: 10px;
}

.post-options {
    color: black;
    display: inline-block;
    margin: 0px 3px 0px 3px;
    text-decoration: none;
    height: 30px;
}

.post-options > img {
    height: 20px;
    display: inline;
    margin: 0px 5px 0px 5px;
}

.post-options > p {
    display: inline;
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
    font-size: 14px;
    font-weight: bold;
    color: grey;
}

.post-options:hover {
    background-color: rgb(217, 217, 217);
    color: black;
    border-radius: 5px;
}

.content-container {
    display: flex;
}

.post-content {
    width: 100%;
}